body {
  	background-color: rgb(31, 20, 24);
	background: url("try4_border.png"), url("try4.png");
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;

}

#top_handwriting {
	font-family: "Jacquarda Bastarda 9", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	color:#ff0808;
}

#class_select_box_div 
{
	display: flex;
	flex-direction: column;
	flex: 1;
}

#green_plussa 
{
	color:greenyellow;
}

img.ninetysskull{
	display:none;
}

.class_bar_div {
	text-align: center;
}

a.vagrant:link, a.vagrant:visited, a.vagrant:active, .linkOn, .linkOff
{
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;

	color: #CBCC97;
	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.vagrant:hover
{
	color: #ffffff;
	font-size: 32px;

}

a.vagrant:hover img.ninetysskull {
	display: inline-block;  
}

a.bottom_buttons, a.bottom_buttons:link, a.bottom_buttons:visited, a.bottom_buttons:active {
	font-family: "Jacquarda Bastarda 9", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	color: #ff0000;

	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.bottom_buttons:hover
{
	color: #ffffff;

}

a.mo_bottom_buttons, a.mo_bottom_buttons:link, a.mo_bottom_buttons:visited, a.mo_bottom_buttons:active {
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: #00ff73;

	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.mo_bottom_buttons:hover
{
	color: #ffffff;

}

.bottom_button_cost {
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	color: #ffffff;
}


a.class_desc_YES_LINK, a.class_desc_YES_LINK:link, a.class_desc_YES_LINK:visited, a.class_desc_YES_LINK:active {
	font-family: "Jacquarda Bastarda 9", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	color: #00ff00;

	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.class_desc_YES_LINK:hover
{
	color: #ffffff;

}

.footer {
   position: fixed;
   left: 6px;
   bottom: 4px;
   width: 100%;
}

#button_div 
{
	flex: none;
	align-self: flex-end;
}

.title_shit {
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 26px;
	color: #ffffff;
}

.post_title_shit{
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
}




