body {
  	background-color: black;
	background: url("try5_border.png"), url("try5.png");
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
}

#top_container_div{
    display: flex;
    justify-content: center;
}

#triumph_quantity_div{
	font-family: Garamond, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	color: #541eeb;
	width: 75%;
	display:inline-block;
	text-align: center;
}
#triumph_close_div{
	width: 25%;
	display:inline-block;
	text-align: left;
}


a#triumph_close_button, a#triumph_close_button:link, a#triumph_close_button:visited, a#triumph_close_button:active {
	font-family: Tahoma, "Trebuchet MS", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #cf0000;
	text-decoration: none;
	background: transparent;

	cursor:default;
}

a#triumph_close_button:hover{
	color: #ffd000;
}

.triumph_text_desc {
	text-align: left;
	padding: 0.1em 0.25em;
	border-bottom: 1px solid rgb(128, 103, 81);
	border-right: 1px solid rgb(106, 83, 65);
	vertical-align: top;
	font-family: Tahoma, "Trebuchet MS", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	width: 99%;
}

.triumph_filler_cells {
	text-align: left;
	padding: 0.1em 0.25em;
	border-bottom: 1px solid rgb(128, 103, 81);
	border-right: 1px solid rgb(106, 83, 65);
	vertical-align: top;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	white-space: nowrap;
}

.triumph_text_head {
	text-align: left;
	padding: 0.1em 0.25em;
	border-bottom: 1px solid rgb(128, 103, 81);
	border-right: 1px solid rgb(106, 83, 65);
	vertical-align: top;
	font-family: "Aclonica", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	white-space: nowrap;
	color:#FDF7D2;
}

.triumph_text_head_redeem {
	text-align: left;
	padding: 0.1em 0.25em;
	border-bottom: 1px solid rgb(128, 103, 81);
	vertical-align: top;
	font-family: "Aclonica", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	white-space: nowrap;
	color:#FDF7D2;
}

.triumph_text_row{
	color:aliceblue;
}

.triumph_text_row:hover 
{
	background-color: #585858;
	color:rgb(0, 0, 0);
}

.triumph_cost_wrapper {
	font-family: "Nosifer", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:24px;
	color:#cf0000;
	text-align: center;
	padding: 0.1em 0.25em;
	border-bottom: 1px solid rgb(128, 103, 81);
	border-right: 1px solid rgb(106, 83, 65);
	vertical-align: top;
	white-space: nowrap;
}

.triumph_buy_wrapper {
	text-align: center;
	padding: 0.1em 0.25em;
	border-bottom: 1px solid rgb(128, 103, 81);
	vertical-align: top;
	white-space: nowrap;
}


a.triumph_text_buy, a.triumph_text_buy:link, a.triumph_text_buy:visited, a.triumph_text_buy:active {
	font-family: "Jersey 25", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	color: #00ff88;

	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.triumph_text_buy:hover{
	color: #ffd000;
}

.strikethru_back {
    position:relative;
    color:#cf0000;
}

.strikethru {
    position:absolute;
    left:0;
    width:100%;
    height:1px;
    background: #cf0000;
    /* position of strike through from top */
    top:45%;
}

a.triumph_categories_normal, a.triumph_categories_normal:link, a.triumph_categories_normal:visited, a.triumph_categories_normal:active,
a.triumph_categories_selected, a.triumph_categories_selected:link, a.triumph_categories_selected:visited, a.triumph_categories_selected:active {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	font-style: normal;
	font-size: 18px;

	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.triumph_categories_normal, a.triumph_categories_normal:link, a.triumph_categories_normal:visited, a.triumph_categories_normal:active{
	color: #F5F5F5;
	text-decoration: none;
}

a.triumph_categories_normal:hover{
	color: #ffd000;
}

a.triumph_categories_selected, a.triumph_categories_selected:link, a.triumph_categories_selected:visited, a.triumph_categories_selected:active
{
	color: #91E0F3;
}

.bigunder_back {
    position:relative;
}

.bigunder {
    position:absolute;
    left:0;
    width:100%;
    height:2px;
    background: #91E0F3;
    /* position of strike through from top */
    top:90%;
}

.fadeout_line {
    width: 100%; 
    position: relative;
    height: 2px;
    border: none;
    background: linear-gradient(to right, rgba(128,103,81,0.2) 0%,rgba(128,103,81,1) 50%,rgba(128,103,81,0.2) 100%);
}


.triumph_footer {
	position:fixed;
	left: 0;
	bottom: 6px;
	width: 100%;
	text-align: center;
}

a.triumph_numbers_normal, a.triumph_numbers_normal:link, a.triumph_numbers_normal:visited, a.triumph_numbers_normal:active,
a.triumph_numbers_selected, a.triumph_numbers_selected:link, a.triumph_numbers_selected:visited, a.triumph_numbers_selected:active {
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;

	text-align: center;
	background: transparent;

	padding: 1px 4px 5px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.triumph_numbers_normal, a.triumph_numbers_normal:link, a.triumph_numbers_normal:visited, a.triumph_numbers_normal:active{
	color: #F5F5F5;
	text-decoration: none;
}

a.triumph_numbers_normal:hover{
	color: #ffd000;
}

a.triumph_numbers_selected, a.triumph_numbers_selected:link, a.triumph_numbers_selected:visited, a.triumph_numbers_selected:active
{
	color: #91E0F3;
}

.num_bigunder_back {
    position:relative;
}

.num_bigunder {
    position:absolute;
    left:0;
    width:100%;
    height:4px;
    background: #91E0F3;
    /* position of strike through from top */
    top:90%;
}
