body {
  	background-color: black;
	color: aliceblue;
}


.timer_table {
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
}
.timer_fluff {
	width:70%;
	text-align: right;
	font-size: 20px;
	font-weight: 600;
}
.timer_time {
	text-align: left;
	font-size: 20px;
	font-weight: 600;
}

.delay_span {
	font-size: 18px;
	font-weight: 600;
	color: #fa2222;
}

.queue_buttan {
	width: 100%;
	text-align: center;
}

a.join_drifter_queue, a.join_drifter_queue:link, a.join_drifter_queue:visited, a.join_drifter_queue:active {
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	background: transparent;
	color: rgb(27, 255, 148);
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.leave_drifter_queue, a.leave_drifter_queue:link, a.leave_drifter_queue:visited, a.leave_drifter_queue:active {
	text-decoration: none;
	background: transparent;
	font-size: 18px;
	font-weight: 600;
	color: #fa2222;
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
}

a.leave_drifter_queue:hover, a.join_drifter_queue:hover {
	color: #ffd000;
}

/* Wave table crap */

.table_fluff_container {
	position:relative;
}

.table_fluff_text {
	font-family: Tahoma, "Trebuchet MS", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 22px;
	position:absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
	top:-15px;
}

.table_fluff_fadeout_line {
    width: 100%; 
    position:absolute;
    height: 2px;
	top: 8%;
    border: none;
    background: linear-gradient(to right, rgba(128,103,81,0.2) 0%,rgba(128,103,81,1) 50%,rgba(128,103,81,0.2) 100%);
}

.fadeout_line {
    width: 100%; 
    position: relative;
    height: 2px;
    border: none;
    background: linear-gradient(to right, rgba(128,103,81,0.2) 0%,rgba(128,103,81,1) 50%,rgba(128,103,81,0.2) 100%);
}


.wave_container{
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
	/*border: 1px solid rgb(128, 103, 81);*/
}

.wave_row:hover 
{
	background-color: #494949;
}

a.wave_type_hlink, a.wave_type_hlink:link, a.wave_type_hlink:visited, a.wave_type_hlink:active {
	text-decoration: none;
	cursor:default;
	color: aliceblue;
}

a.wave_type_hlink:hover{
	color: #fa2222;
}

a.wave_type_hlink:hover .wave_type_hlink_tooltext {
  	display: block;
}

.wave_type_hlink_tooltext {
    display: none;
    position: absolute;
	text-decoration: none;
	pointer-events: none;

	border: 2px solid rgb(128, 103, 81);
    background-color: #363030;
	color: rgb(255, 255, 255);

    margin-left: -80px;
	margin-top: -60px;
    padding: 3px;

	
	text-align: left;

	z-index: 1;
}

.wave_entry_href{
	text-align: right;
}


.wave_type {
	text-align: left;
}

.wave_number {
	text-align: right;
}

/* player table crap */
.player_table {
	width: 100%;
	text-align: center;
	color: aliceblue;
}
